@model List<ProductDTO>
@foreach (var item in Model)
{

    <div class=" col-6">
        <a class="RemoveLinkStyel" asp-page="../ProductDetails" asp-route-ProductId="@item.ProductID">
            <img src="@item.ProductImagePath" alt="CategoryImage" height="400" />
            <h5>@item.ProductName</h5>
            <h5>@item.Price Kr.</h5>
            <br />
        </a>
    </div>

}