@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    // indsæt en liste af Men og Woman kategorierne, samt eventuellt fremhavede produkter
}

<div class="text-center col-12">
    <h1> Welcome To: </h1>
    <img src="~/Off-Black-logos/Off-black-logo.png" alt="Off-black Logo" height="400" />
</div>

<div class="text-center">

</div>
