@page "{ProductId:int}"
@model Off_Black.Wep.Pages.ProductDetailsModel

<div class="col-12">
    <div class="text-center">
        <h2>@Model.Product.ProductName</h2>

        <h4>@Model.Product.Price</h4>

        <p>@Model.Product.ProductDescription</p>

        <img src="@Model.Product.ProductImagePath" alt="Alternate Text" height="300" />
    </div>
    <br />
    <div class="float-right">
        <form method="post">
            <input type="hidden" asp-for="Product.ProductID" />
            <input type="hidden" asp-for="Product.Amount" />
            <input type="hidden" asp-for="Product.Gender" />
            <input type="hidden" asp-for="Product.Catagory" />
            <input type="hidden" asp-for="Product.FK_CategoryID" />
            <input type="hidden" asp-for="Product.Price" />
            <input type="hidden" asp-for="Product.ProductDescription" />
            <input type="hidden" asp-for="Product.ProductImagePath" />
            <input type="hidden" asp-for="Product.ProductName" />
            <button type="submit" class="btn btn-success">Add to Cart</button>
        </form>
    </div>
</div>