@page
@model Off_Black.Wep.Pages.MenModel


<form method="post">
    <div class="input-group text-right">
        <input type="search" class="form-control" placeholder="Search.." asp-for="SeachTearm">
        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
    </div>
</form>

    <br />
    <div class="row">
        <partial name="_ProductView" model="@Model.ProductDTOs" />

    </div>
    <div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a asp-page="/Men/Men" asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>
