@page "/Super/Secret/Admin/Page"

@inject HttpClient Http
<h3>Admin</h3>

<div class="input-group w-50 mx-auto col-8 ">
    <input type="search" placeholder="Seach Here" asp-for="@SearchTerm" />
    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
</div>

<div class="col-4">
    <a href="#"class="btn btn-success">Create</a>
</div>


<table class="text-center col-12 table">
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Amount</th>
    </tr>
    @foreach (var items in ProductDTOs)
    {
        <tr>
            <td><img src="@items.ProductImagePath" alt="prorduct Image" height="75" /></td>
            <td>@items.ProductName</td>
            <td>@items.Amount</td>
            <td><a href="#" class="btn btn-success">Edit</a></td>
            <td>Delete</td>
        </tr>
    }

</table>


@code {
    public string SearchTerm { get; set; }
    public List<ProductDTO> ProductDTOs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProductDTOs = await Http.GetFromJsonAsync<List<ProductDTO>>("http://localhost:4020/Product/AllMen");
    }


    public async Task OnSeahc()
    {
        ProductDTOs = await Http.GetFromJsonAsync<List<ProductDTO>>($"http://localhost:4020/AllBySearchTearm/{SearchTerm}");
    }


}
