@model List<OrderItemDTO>?

<div class="card card-body bg-light">
    @if (Model != null)
    {
        int items = 0;
        foreach (var item in Model)
        {
            items += item.Amount;
        }
        <label>Cart: </label>
        <a asp-page="../Cart" class="btn btn-info">@items</a>
    }

</div>