@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject ILocalStorageService LocalStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button class="btn btn-success" @onclick='() => Nav.NavigateTo("/Cart")'>@CartCount <i class="fas fa-shopping-basket"></i></button>
        </div>

        <div class="content px-4">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code{
    int CartCount { get; set; } = 0;
    List<OrderItemDTO> localStorage = new List<OrderItemDTO>();

    protected override async Task OnInitializedAsync()
    {
        if (await LocalStorage.ContainKeyAsync("Cart"))
        {
            localStorage = JsonConvert.DeserializeObject<List<OrderItemDTO>>(await LocalStorage.GetItemAsStringAsync("Cart"));

            CartCount = localStorage.Select(b => b.Amount).Sum();
        }

        await base.OnInitializedAsync();
    }

    public async Task Update()
    {

        if (await LocalStorage.ContainKeyAsync("Cart"))
        {
            localStorage = JsonConvert.DeserializeObject<List<OrderItemDTO>>(await LocalStorage.GetItemAsStringAsync("Cart"));

            CartCount = localStorage.Select(b => b.Amount).Sum();
        }
        if (!await LocalStorage.ContainKeyAsync("Cart"))
        {
            CartCount = 0;
        }
        StateHasChanged();
    }

}